<%= form_for(@user, {url: {action: 'create'}}) do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% if !alert.nil?  %>
        <% if !alert['success'].nil? %>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
              </button>
              <%= alert['success'] %>
            </div>
        <% end %>
        <% if !alert['error'].nil? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
              </button>
              <%= alert['error'] %>
            </div>
        <% end %>
    <% end %>

    <div class="row">
      <div class="box">
        <%= link_to admin_path,class: 'btn btn-default', style:'float:right' do %>
            <span class="glyphicon glyphicon-home"></span>
        <% end  %>
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center"><strong><%= t ('new_user') %></strong>
          </h2>
          <hr>
        </div>
        <div class="col-md-8 col-md-offset-2 ">
          <div class="field">
            <%= f.label :nickname, :class => 'control-label col-lg-2' %>
            <%= f.text_field :nickname, :class => 'form-control' %>
            <%=f.error_span(:nickname) %>
          </div>
          <div class="field">
            <%= f.label :password, :class => 'control-label col-lg-2' %>
            <%= f.text_field :password, :class => 'form-control' %>
            <%=f.error_span(:password) %>
          </div>
          <div class="field">
            <%= f.label :name, :class => 'control-label col-lg-2' %>

            <%= f.text_field :name, :class => 'form-control' %>
            <%=f.error_span(:name) %>
          </div>
          <div class="field">
            <%= f.label :email, :class => 'control-label col-lg-2' %>
            <%= f.text_field :email, :class => 'form-control' %>
            <%=f.error_span(:email) %>
          </div>
          <%= f.submit t('save'), :class => 'btn btn-primary btn-block' %>
          <%= link_to t('cancel'), admin_path,class: 'btn btn-default btn-block'  %>
        </div>
      </div>
    </div>
<% end %>